
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<!-- 启用360浏览器的极速模式(webkit) -->
		<meta name="renderer" content="webkit">
		<!-- 避免IE使用兼容模式 -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>首页</title>
		<meta name="Keywords" content="关键词"/>
		<meta name="Description" content="内容描述"/>
		<title>登录</title>
		<link rel="stylesheet" href="../public/css/dAll.css" />
		<link rel="stylesheet" href="../public/css/themes/icon.css" />
	</head >
	<body class="login">
		<div class="wrap">
			<div class="header">
				<div class="welcome">欢迎登陆碎屏险录单系统</div>
				<div class="navs">
					<a href="#">回首页</a>
					<a href="#">帮助</a>
					<a href="#">关于</a>				
				</div>
			</div>
			<div class="main">			
				<div class="top clearfix">
					<div class="top-img">
						<img src="../public/img/shield.jpg" />	
					</div>
					<div class="system">碎屏险录单系统</div>
				</div>
				<div class="bottom clearfix">
					<div class="left">
						<div class="picc-img">
							<img src="../public/img/picc.jpg" />	
						</div>
						<div class="screen-img">
							<img src="../public/img/screen_broken.jpg" />
						</div>
					</div>
					<div class="right">
						<div class="user-login">
							<span>用户登录</span>
							<select>
								<option><span>管理员</span></option>
								<option><span>代理商</span></option>
								<option><span>经销商</span></option>
							</select>
						</div>
						<div class="in">
							<!--<i class="iconfont icon-shenfenzheng"></i><br>
							<i class="iconfont icon-lock1"></i>-->
							<input class="account" type="text" placeholder="账号"/><br>
							<input class="password" type="password" placeholder="密码" /><br>
							<div class="submit">登录</div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="footer"></div>
		</div>
	</body>
</html>
